*{
    color: black;
    text-align: center; margin-top: 10px;
}
.first{
    padding: 10px;background-color: grey;
}
p{
    font-size: small;
}
.two{
    padding-left: 20px;
    padding-right: 20px;
}