*{
    background-color: black;
    color: white;
}
h3,h5{
    text-align: center;
}
.bio{
    padding: 20px;
    width: 600px;
    text-align: left;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: white;
    border-width: 1px;

}
.made{
    text-align: center;
    font-size: small;
}
.audiobar{
    text-align: center;
}
.image{
    padding-top: 50px; 
}

i{
    font-size: 20px;
    color: white;
}